{{#if searchable}}
  {{partial searchTemplate}}
{{/if}}
<table class={{tableClassNames}}>
  <thead>
    <tr>
      {{#each processedColumns as |column|}}
        {{#if sortable}}
          <th {{bind-attr class="column.isSortable:sort:no-sort column.isAsc:sort-asc column.isDesc:sort-desc column.className"}} onclick={{action "sort" column}}>
            {{column.columnTitle}}
          </th>
        {{else}}
          <th {{bind-attr class="column.className"}}>
            {{{column.columnTitle}}}
          </th>
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#if processedContent.length}}
      {{#each processedContent as |record|}}
        <tr>
          {{#each processedColumns as |column|}}
            {{#if column.isVisible}}
              <td class={{column.className}}>
                {{#if column.template}}
                  {{partial column.template}}
                {{else}}
                  {{{get record column.contentPath}}}
                {{/if}}
              </td>
            {{/if}}
          {{/each}}
        </tr>
      {{/each}}
    {{else}}
      <tr><td colspan={{processedColumns.length}}>{{{messages.emptyTable}}}</td></tr>
    {{/if}}
  </tbody>
  <tfoot>
    {{yield this}}
  </tfoot>
</table>
{{#if paginable}}
  {{partial paginationTemplate}}
{{/if}}
