<div class="imdt-table-pagination-widget">
  <div class="imdt-table-pagination-summary">
    {{{summary}}}
  </div>
  <div class="imdt-table-pagination-page-size">
    
    {{select-page content=pageSizeValues selectedValue=pageSize}}

  </div>
  <nav class="imdt-table-navigation">
    {{#if useSimplePagination}}
      {{partial simplePaginationTemplate}}
    {{else}}
      {{partial numericPaginationTemplate}}
    {{/if}}
  </nav>
</div>
