<!--
<h4>none</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=false
  searchable=false
  sortable=false
}} -->
<h4>full</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=true
  searchable=true
  sortable=true
  useSimplePagination=false
}}
<!-- <h4>sort</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=false
  searchable=false
  sortable=true
}}
<h4>search</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=false
  searchable=true
  sortable=false
}}
<h4>pagina</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=true
  searchable=false
  sortable=false
}}
<h4>pagina + search</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=true
  searchable=true
  sortable=false
}}
<h4>search + sort</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=false
  searchable=true
  sortable=true
}}
<h4>pagina + sort</h4>
{{imdt-table
  content=content
  columns=columns
  sortProperties=sort
  paginable=true
  searchable=false
  sortable=true
}} -->
